body{
  font-family: "Schibsted Grotesk", sans-serif;
  color: #ffffff;
  overflow-x: hidden;
  position: relative;
  @include respond-to(tablet) {
    overflow-y: hidden;
  }
}

html{
  overflow-x: hidden;
}
